@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Records with a fixed failing test</h2>
    <p>Environment: @Model.EnvironmentName</p>
    <div class="container">
        <div class="row">
            @foreach (Vinyl vinyl in Model.Vinyls)
            {
                <a href="/Edit/@vinyl.Id">
                    <div class="col-md-3">
                        <img src="@vinyl.AlbumArtUrl" alt="@vinyl.Title" class="img-fluid" />
                        <p>@vinyl.Title - @vinyl.Artist (@vinyl.Year)</p>
                    </div>
                </a>
            }
        </div>
    </div>
</div>
